<div>
  <!-- Rótulo con imagen en la parte superior -->
  <header style="background-color: #d6e9e9; color: black; padding: 10px; text-align: center;">
    <img src="assets/images/car-rental-icon.png" alt="Logo" style="max-width: 80px; vertical-align: middle; margin-right: 10px;">
    <span style="font-size: 20px; vertical-align: middle;">Gestión de alquileres de automóviles</span>
  </header>

  <!-- Contenedor principal con el menú lateral y contenido -->
  <div style="display: flex; height: calc(100vh - 120px);">
    <!-- Menú lateral -->
    <div style="width: 200px; background-color: #f4f4f4; padding: 10px;">
      <ul>

        <li><a routerLink="/clientes" routerLinkActive="active">alta-clientes</a></li>
        <li><a routerLink="/alquileres" routerLinkActive="active">alta-alquiler</a></li>
        <li><a routerLink="/automoviles" routerLinkActive="active">alta-automóviles</a></li>

      </ul>
      <hr style="border: 1px solid #000; margin: 20px 0;">
      <ul>
        <li><a routerLink="/info-alquiler" routerLinkActive="active">Info-alquiler</a></li>
        <li><a routerLink="/info-clientes" routerLinkActive="active">Info-clientes</a></li>
        <li><a routerLink="/info-automoviles" routerLinkActive="active">info-automóviles</a></li>
        <li><a routerLink="/documentos" routerLinkActive="active">info-Documentos</a></li>
        <li><a routerLink="/precios" routerLinkActive="active">info-precios</a></li>
        <li><a routerLink="/TipoPago" routerLinkActive="active">info-tipos De Pagos</a></li>        
      </ul>
    </div>

    <!-- Contenido principal -->
    <div style="flex-grow: 1; padding: 20px; overflow-y: auto;">
      <router-outlet></router-outlet>  <!-- Aquí se cargarán los componentes -->
    </div>
  </div>

  <!-- Footer -->
  <footer style="background-color: #d6e9e9; color: black; padding: 10px; text-align: center; position: fixed; width: 100%; bottom: 0;">
    <p>&copy; 2025 Gestión de Alquileres de Automóviles. Todos los derechos reservados.</p>
  </footer>
</div>
