<div *ngIf="!authService.isLoggedIn()">
  <app-login></app-login>
</div>

<div *ngIf="authService.isLoggedIn()">
  <!-- Content from principal app -->
  <header class="app-header" style="padding: 10px; text-align: center;">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th>User: {{userName}}</th>
          <th>
            <img src="assets/images/car-rental-icon.png" alt="Logo" class="logo" (click)="navigateToHome()">
            <span class="header-title">{{title}}</span>
          </th>
          <th>
            <input type="button" class="btn btn-logout" value="Log out" (click)="logout()" />
          </th>
        </tr>
      </thead>
    </table>
  </header>

  <!-- Main Content -->
  <div class="main-content">
    <div class="side-menu">
      <ul>
        <li><a routerLink="/create-customers" routerLinkActive="active">New Customers</a></li>
        <li><a routerLink="/create-rents" routerLinkActive="active">New Rents</a></li>
        <li><a routerLink="/create-cars" routerLinkActive="active">New Cars</a></li>
      </ul>
      <hr class="menu-divider">
      <ul>
        <li><a routerLink="/list-rents" routerLinkActive="active">Rents</a></li>
        <li><a routerLink="/list-customers" routerLinkActive="active">Customers</a></li>
        <li><a routerLink="/list-cars" routerLinkActive="active">Cars</a></li>
        <li><a routerLink="/list-documents" routerLinkActive="active">Documents</a></li>
        <li><a routerLink="/list-prices" routerLinkActive="active">Prices</a></li>
        <li><a routerLink="/list-paytype" routerLinkActive="active">Pays</a></li>
        <li><a routerLink="/list-users" routerLinkActive="active">Users</a></li>
      </ul>
    </div>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Footer -->
  <footer class="app-footer">
    <p>{{footerDetails}}</p>
  </footer>
</div>
