<div>
  <!-- Tabla con los clientes existentes -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Tipo documento</th>
        <th>Fecha Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td style="text-align: left;">{{ customer.name }}</td>
        <td style="text-align: left;">{{ customer.document }}</td>
        <td>{{ getDocumentTypeName(customer.documentType) }}</td>
        <td>{{ customer.birthDate | date:'dd/MM/yyyy' }}</td>
        <td>
            <button 
            #BtnDeleteCustomer
            (click)="deleteCustomer(customer.id)" 
            class="image-button">
            <img 
              src="assets/images/delete.svg" 
              alt="Eliminar cliente" 
              title="Eliminar cliente" />
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>