<div class="container mt-3">
  <!-- Formulario para dar de alta un nuevo automovil -->
  <p style="font-weight: bold">Agregar Nuevo Automovil</p>
  <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
    <div class="form-group">
      <label for="name">Modelo:</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="newCar.model" name="model" required>
    </div>
    <div class="form-group">
      <label for="document">Marca:</label>
      <input type="text" id="document" class="form-control" [(ngModel)]="newCar.brand" name="brand" required>
    </div>

    <div class="form-group">
      <label for="document">Año:</label>
      <input type="text" id="year" class="form-control" [(ngModel)]="newCar.year" name="year" required>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!customerForm.valid">Agregar Automovil</button>
  </form>
</div>
